parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: JunakKompetence\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: JunakKompetence\RouterFactory::createRouter
	- LeanMapper\Connection(%mainDatabase%)
	- LeanMapper\DefaultEntityFactory
	- JunakKompetence\Model\Mappers\StandardMapper
	- JunakKompetence\Model\Repositories\CompetencesRepository
	- JunakKompetence\Model\Repositories\CekatelItemsRepository
	- JunakKompetence\Model\Repositories\VudceItemsRepository
	- JunakKompetence\Model\Repositories\CompetenceGroupsRepository
	- JunakKompetence\Model\Facades\CompetenceFacade
