<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{ifset title}{include title|striptags} | {/ifset}Kompetenční model Junáka</title>
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css" type="text/css" />
	<link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css" />

	<link href="{$basePath}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon" />

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid maxWidth">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{link Homepage:default}">Kompetenční model Junáka</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li n:class="$presenter->isLinkCurrent('Competence:*')?'active'">
						<a href="{link Competence:default}">Prohlížení kompetencí</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('Vudce:*')?'active'">
						<a href="{link Vudce:default}">Vůdcovky</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('Cekatel:*')?'active'">
						<a href="{link Cekatel:default}">Čekatelky</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('Article:about')?'active'">
						<a href="{link Article:about}">O kompetenčním modelu</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	{include content}

	{block scripts}
	<script src="{$basePath}/js/jquery-1.12.0.min.js" type="text/javascript"></script>
	<script src="{$basePath}/js/main.js" type="text/javascript"></script>
	<script src="{$basePath}/js/bootstrap.min.js" type="text/javascript"></script>
	{/block}
</body>
</html>
