activeBackgroundColor=rgb(51,122,183)
activeChildBackgroundColor=#eef5ff

body
  padding-top 60px
  padding-bottom 80px
  @media screen and (min-width: 750px) and (max-width: 830px)
    padding-top 100px

  >.navbar
    margin-bottom 0
    a.navbar-brand
      color white !important

  h1.page-header
    margin-top 10px !important

  .navPillDescription
    color gray
  p.hint
    color gray
    &.withTopPadding
      padding-top 20px

  .backLink
    margin-bottom 15px

  article
    h2
      margin-top 0
      padding-top 0
    h3
      margin-top 35px
      font-size 1.3em
    ul
      li
        margin-top 8px

    nav
      opacity 0.7
      margin-top 50px
      position relative
      overflow auto
      .prev
        float left
      .next
        float right

  @media screen and (min-width: 992px)
    .columnNav0
      &.withActive
        border-right 5px solid activeBackgroundColor
    .columnNav1
      margin-right -15px
      &.withActive
        border-right 5px solid activeBackgroundColor
      &.withActiveChild
        .active a
          background activeChildBackgroundColor
          color black
    .columnNav2
      margin-left -15px
      &.withActive
        border-left 5px solid activeChildBackgroundColor
        background activeChildBackgroundColor
        border-right 5px solid activeBackgroundColor