body {
  padding-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 750px) and (max-width: 830px) {
  body {
    padding-top: 100px;
  }
}
body >.navbar {
  margin-bottom: 0;
}
body >.navbar a.navbar-brand {
  color: #fff !important;
}
body h1.page-header {
  margin-top: 10px !important;
}
body .navPillDescription {
  color: #808080;
}
body p.hint {
  color: #808080;
}
body p.hint.withTopPadding {
  padding-top: 20px;
}
body article h2 {
  margin-top: 0;
  padding-top: 0;
}
body article h3 {
  margin-top: 35px;
  font-size: 1.3em;
}
body article ul li {
  margin-top: 8px;
}
body article nav {
  opacity: 0.7;
  margin-top: 50px;
  position: relative;
  overflow: auto;
}
body article nav .prev {
  float: left;
}
body article nav .next {
  float: right;
}
@media screen and (min-width: 992px) {
  body .columnNav0.withActive {
    border-right: 5px solid #337ab7;
  }
  body .columnNav1 {
    margin-right: -15px;
  }
  body .columnNav1.withActive {
    border-right: 5px solid #337ab7;
  }
  body .columnNav1.withActiveChild .active a {
    background: #eef5ff;
    color: #000;
  }
  body .columnNav2 {
    margin-left: -15px;
  }
  body .columnNav2.withActive {
    border-left: 5px solid #eef5ff;
    background: #eef5ff;
    border-right: 5px solid #337ab7;
  }
}
