body {
  padding-top: 60px;
}
@media screen and (min-width: 750px) and (max-width: 830px) {
  body {
    padding-top: 100px;
  }
}
body >.navbar {
  margin-bottom: 0;
}
body >.navbar a.navbar-brand {
  color: #fff !important;
}
body h1.page-header {
  margin-top: 10px !important;
}
body p.hint {
  color: #808080;
}
body p.hint.withTopPadding {
  padding-top: 20px;
}
body article >h2 {
  margin-top: 0;
  padding-top: 0;
}
body article h3 {
  margin-top: 35px;
  font-size: 1.3em;
}
body article ul li {
  margin-top: 8px;
}
